
<ion-header>

  <ion-navbar>
    <ion-title>NFC (AQUI SERA UNA IMAGEN DEL LOGO NFC MIENTRAS BUSCA EL ID DE LA TARJETA EL BACKEND )</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h1>Enviando con evento</h1>

<ion-list>
    <ion-item *ngFor="let mutante of mutantes"
      (click)="irPagina3( mutante )">
      {{ mutante.nombre }}
    </ion-item> 
</ion-list>


<h1>Enviando con HTML</h1>

<ion-list>
    <ion-item *ngFor="let mutante of mutantes"
    [navPush]="pagina3"
    [navParams]="{ 'mutante': mutante }">
      {{ mutante.nombre }}
    </ion-item> 
</ion-list>

</ion-content>
